<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/index/index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Grades | Home</title>
</head>
<body>
    <main id="main-content"></main>

    <nav class="horizontal-nav">
        <div class="nav-item active" id="home" onclick="loadContent(event.target.id)">
            <div class="icon-wrapper" id="home">
                <span class="material-symbols-rounded" id="home">
                    home
                </span>
            </div>
            <span class="nav-label">Home</span>
        </div>
        <div class="nav-item" id="stats" onclick="loadContent(event.target.id)">
            <div class="icon-wrapper" id="stats">
                <span class="material-symbols-rounded" id="stats">
                    monitoring
                </span>
            </div>
            <span class="nav-label">Charts</span>
        </div>
        <div class="nav-item" id="settings" onclick="loadContent(event.target.id)">
            <div class="icon-wrapper" id="settings">
                <span class="material-symbols-rounded" id="settings">
                    settings
                </span>
            </div>
            <span class="nav-label">Settings</span>
        </div>
    </nav>
    
</body>
<script src="{{ url_for('static', filename='/index/index.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>