<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/subject/subject.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>

<span onclick="goBack()" class="material-symbols-outlined" style="cursor: pointer; user-select:none">
        arrow_back
    </span>

<h1>{{subject}}</h1>

<h3>Average: {{average}}</h3>

<form id="add-grade-section" style="display: none;">
    <input type="number" id="grade" name="grade" placeholder="grade" step="0.01">
    <input type="date" name="grade-date" id="grade-date">
    <input type="number" name="grade-weight" id="grade-weight" placeholder="grade weight">
    <select name="type" id="type">
        <option value="oral">Oral</option>
        <option value="written">Written</option>
        <option value="other">Other Type</option>
    </select>
    <br>
    <button id="submit-button" type="submit">Add grade</button>
</form>

<table>
    <tr>
        <th>Grade</th>
        <th>Date</th>
        <th>Weight</th>
        <th>Type</th>
    </tr>
    {% for id, grade,date,weight,type in grades %}
    <tr>
        <td>{{grade}}</td>
        <td>{{date}}</td>
        <td>{{weight}}</td>
        <td>{{type}}</td>
        <td><button type="button" id="delete-grade-{{id}}" onclick="deleteGrade(event.target.id)">Delete</button></td>
        <td><button type="button" onclick="editGrade('{{id}}', '{{grade}}','{{date}}','{{weight}}','{{type}}')">Edit</button></td>
    </tr>
    {% endfor %}
</table>
<br>

<button id="add-grade-button" type="button">Add grade</button>

</body>
<script src="{{ url_for('static', filename='/subject/subject.js') }}"></script>
</html>